# Constructed Data

In [1]:
import pandas as pd
import numpy as np

## TURF Data

In [84]:
pie_df = pd.DataFrame(columns = ['apple', 'banana', 'coconut cream', 'lemon meringue', 'pumpkin', 'chocolate', 'rubarb', 'cherry'])

In [85]:
for i in [j for j in pie_df.columns if j != 'person']:
    listy = np.random.randint(2, size=300)
    if sum(listy) in pie_df.sum().values:
        listy = np.random.randint(2, size=300)
        pie_df[i] = listy
    else:
        pie_df[i] = listy

,apple,banana,coconut cream,lemon meringue,pumpkin,chocolate,rubarb,cherry
0,0,1,1,0,0,0,1,1
1,0,1,0,0,0,0,0,1
2,1,1,0,1,0,1,1,1
3,1,0,0,0,1,0,0,1
4,0,0,0,1,0,1,0,0